{#
/**
 * @file
 * Default theme implementation to display an item in a views RSS feed.
 *
 * Available variables:
 * - title: RSS item title.
 * - link: RSS item link.
 * - description: RSS body text.
 * - item_elements: RSS item elements to be rendered as XML (pubDate, creator,
 *   guid).
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<item turbo="true">
  <title>{{ title }}</title>
  <link>{{ link }}</link>
  <pubDate></pubDate>
  <author>RunetStores</author>
    <turbo:content>
    <![CDATA[
    <header>
    <h1>{{ title }}</h1>
    </header>
    <figure><img src="https://runetstores.ru{{ description }}"/></figure>
    ]]>
    </turbo:content>
</item>
